@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;

    /*em HTML é id  =em CSS é #
    em HTML é class = em CSS é .
    */
}

h1 {
    color: rgb(4, 109, 0)
}
h1#principal {
    text-align: center;
    background-color: rgb(7, 110, 40);
    color: white;
}

h2{
    color: rgb(53, 134, 48);

}

.basico {
    color:rgb(7, 110, 40);
    
}

.intermediario {
    color: rgb(196, 199, 49);
}

.avancado {
    color: rgb(110, 28, 7);;
}

.destaque {
    background-color: rgb(196, 199, 49);
}